.modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-top: 200px;
}

.target {
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal>.content {
    text-align: left;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    color: white;
    position: relative;
    width: 400px;
    padding: 20px;
}

.modal>.content .close-btn {
    position: absolute;
    top: 7px;
    right: 16px;
    width: 15px;
    height: 15px;
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.target:target+.modal {
    display: block;
}

.modal.is-expanded {
    display: block;
}

.modal.is-expanded>.content {
    top: 50%;
    margin-top: -45px;
}

:root .target:target~.page-container {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5");
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    overflow: hidden;
}

:root span[id="start"]:target~.page-container {
    filter: none;
    -webkit-filter: none;
}


/* Behavior on modern browsers */

:root .modal {
    display: block;
    background-color: transparent;
    transition: transform 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5);
    transform-origin: center center;
    transform: scale(0, 0);
}

:root .modal>.content {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

:root .target:target+.modal {
    transform: scale(1, 1);
}

@media only screen and (max-width: 500px) {
    .modal>.content {
        width: 300px;
        padding: 10px;
    }
    .log-in h1 {
        padding-top: 10px;
        font-size: 17px;
    }   
    .log-in button {
        width: 40%;
        margin-left: 30%;
    }
}
/*--------------------Modal 2-----------------------------------------*/


.modal2::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-top: 400px;
}

.target2 {
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal2 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal2> .content2 {
    text-align: left;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    color: white;
    position: relative;
    width: 400px;
    padding: 20px;
}

.modal2>.content2 .close-btn {
    position: absolute;
    top: 7px;
    right: 16px;
    width: 15px;
    height: 15px;
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.target2:target+.modal2 {
    display: block;
}

.modal2.is-expanded {
    display: block;
}

.modal2.is-expanded>.content2 {
    top: 50%;
    margin-top: -45px;
}

:root .target2:target~.page-container {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5");
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    overflow: hidden;
}

:root span[id="start2"]:target~.page-container {
    filter: none;
    -webkit-filter: none;
}


/* Behavior on modern browsers */

:root .modal2 {
    display: block;
    background-color: transparent;
    transition: transform 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5);
    transform-origin: center center;
    transform: scale(0, 0);
}

:root .modal2>.content2 {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

:root .target2:target+.modal2 {
    transform: scale(1, 1);
}

@media only screen and (max-width: 500px) {
    .modal2>.content2 {
        width: 300px;
        padding: 10px;
    }
    .sign-in h1 {
        padding-top: 10px;
        font-size: 17px;
    }   
    .sign-in button {
        width: 40%;
        margin-left: 30%;
    }
}
